@import '~antd/dist/antd.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.trailer .slick-dots li button:before {
    display: none !important;
}
.ant-carousel .slick-dots li button {
    height: 8px !important;
}
.slick-dots.slick-dots-bottom {
    margin: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    bottom: 0;
}
.ant-carousel .slick-dots li {
    width: 25px;
    transition: all 0.2s;
}
.ant-carousel .slick-dots li.slick-active {
    width: 40px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: inherit;
}
.ant-select-selector {
    border: none !important;
}
.ant-select-selector:focus {
    outline: none;
}
.ant-switch {
    position: relative;
}

