@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
    .dark {
        --primary: #EA4A4A;
        --primary-dark: #C91818;
        --primary-light: #F9AEAE;

        --neutral: #483E3E;
        --neutral-dark: #1D1616;
        --neutral-light: #B1A3A3;

        --success: #00B74A;
        --warning: #FFA900;
        --danger: #F93154;
        --light: #FBFBFB;
        --dark: #262626;
    }
    .light {
        --color-primary: #ffffff;
        --color-secondary: #616161;
        --color-dark: #cccccc;
        --color-light: #443c3c;
        --color-white: #ffffff;
        --color-text: #000000;
        --color-primary-contrast: #c91818;
    }
}
